*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ebcc42;
}
.screen{
    margin: 100px auto;
    width: 80%;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #e3d06f;
}

header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
}

.input{
    margin: 15px;
    padding: 15px;
}